.p-1{
    padding: 2px;
}
.p-2{
    padding: 4px;
}

.text-white{
    color: white;
}

.bg-black{
    background-color:black;
}

.bg-red{
    background-color: red;
}

.cursor-pointer{
    cursor: pointer;
}

.d-flex{
    display:flex;
}

.justify-content-between{
    justify-content: space-between;
}

.gap-3>*{
    margin:15px;
}

.border-1{
    border: 1px solid grey;
}
